In [58]:
import requests
import json
from pprint import pprint   
import pandas as pd
import sqlite3

In [59]:
api_key = "vxk6N5XX+RkcAEzUiypTQCfoUqGq2UrsKB/pooQAkS4u2vuI6QeA3Qz+FYKaWQH6"
url = "https://api.collegefootballdata.com/recruiting/players?year=2022&classification=HighSchool"

headers = { 
    'Authorization': f'Bearer {api_key}',
    'Content-Type': 'application/json'
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    data = response.json()  # Extract the response data in JSON format
    
    # Create a DataFrame from the data
    df = pd.DataFrame(data)

 
    # Convert the 'hometownInfo' column to a string representation
    df['hometownInfo'] = df['hometownInfo'].apply(json.dumps)



    # Establish a connection to the SQLite database
    conn = sqlite3.connect('recruiting_data.db')
    
    # Save the DataFrame to the database as a table
    df.to_sql('recruits', conn, if_exists='replace', index=False)
    
    conn.close()
    
    print('Table created successfully.')
else:
    print(f'Request failed with status code {response.status_code}')

df.head()

Table created successfully.

,id,athleteId,recruitType,year,ranking,name,school,committedTo,position,height,weight,stars,rating,city,stateProvince,country,hometownInfo
0,90104,4685415,HighSchool,2022,1,Travis Hunter,Collins Hill,Jackson State,CB,73.0,165.0,5,0.9999,Suwanee,GA,USA,"{""latitude"": ""34.0514898"", ""longitude"": ""-84.0..."
1,90105,4685503,HighSchool,2022,2,Walter Nolen,Powell,Texas A&M,DL,76.0,325.0,5,0.9998,Powell,TN,USA,"{""latitude"": ""36.0317472"", ""longitude"": ""-84.0..."
2,90106,4685278,HighSchool,2022,3,Luther Burden,East St. Louis,Missouri,WR,72.0,200.0,5,0.9974,East Saint Louis,IL,USA,"{""latitude"": ""38.6244952"", ""longitude"": ""-90.1..."
3,90107,4685623,HighSchool,2022,4,Mykel Williams,Hardaway,Georgia,DL,77.0,265.0,5,0.9958,Columbus,GA,USA,"{""latitude"": ""32.4609764"", ""longitude"": ""-84.9..."
4,90108,4685402,HighSchool,2022,5,Domani Jackson,Mater Dei,USC,CB,73.0,185.0,5,0.9952,Santa Ana,CA,USA,"{""latitude"": ""33.7494951"", ""longitude"": ""-117...."